<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>VivaTS</title>
    <link href="/css/main.css" rel="stylesheet" />

    <!-- generic browsers -->
    <link rel="icon" href="/img/icons/favicon-32.png" sizes="32x32">
    <link rel="icon" href="/img/icons/favicon-128.png" sizes="128x128">
    <link rel="icon" href="/img/icons/favicon-192.png" sizes="192x192">

    <!-- iOS -->
    <link rel="apple-touch-icon" href="/img/icons/favicon-180.png" sizes="180x180">
  </head>
  <body>
    {% include nav.html %}
    {% include header.html %}

    <main>
      <div>
        {{ content }}
      </div>
    </main>
  </body>
</html>
